body{
    margin:0;
    font-family: 'Roboto' , sans-serif;
}

*,*::before,*::after{
    box-sizing: border-box;
}

.header{
    background-color: #136C72;
}

.nav{
display: none;
}
.mobileHeader{
    padding:3rem 1rem;
    display: flex;
    align-items: center;

    
}

.mobileHeader button{
    padding: 1rem;
    border-radius: 50%;
    border: none;
    background-color: #072A2D;
    width: 12%;
    height: 10%;
    
}



.container{
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding:1rem 1rem;
}

img{
    max-width: 100%;
}

.hero{
    font-size: 1.5rem;
    background-color: #23424A;
    color:white;
    
}

.hero__text p{
    line-height: 1.5;
    margin-bottom: 2rem;
}

.btn{
    text-transform: uppercase;
    font-size: large;
    border-radius: 900px;
    padding :.5em 1em; 
    font-weight: 600;
    text-decoration: none;
    color: #072A2D;
    background-color:rgb(24, 231, 231) ;
}

.hero_image{
    margin: 4rem 0;
}

.left h2{
    font-size: 2.5rem;
    color:#136C72;
}

.left p{
font-size: 1.5rem;
line-height: 1.5;
}

.right{
    font-size:1.5rem ;
    padding: 3rem 1.5rem;
    text-align: center;
    background-color:#136C72;
    color:white;
}

@media (min-width:700px){
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.hero__text p{
    margin-bottom: 3rem;
}
.hero{
    padding:4rem 0 ;
}

.hero h1{
    margin-top: 0;
}
.hero__text
{
    width: 60%;
}
.hero_image{
    width: 30%;
    margin-top: 0;
}
.left{
    width: 60%;
}
.right{
    padding:3rem;
    width: 30%;
}

.two-col{
    margin-top: 2rem;
}

}
